html, body {
  width: 100vw;
  height: 100vh;
}

#app {
  margin: 0px;
}

.loading-modal {
  text-align: center;
  border: none !important;
  background-color: transparent !important;
}

.modal-open .modal,
.modal-backdrop {
  top: 56px !important;
}