html, body {
  min-width: 100%;
  min-height: 100%;
}

#app {
  margin: 0px;
}

.loading-modal {
  text-align: center;
  border: none !important;
  background-color: transparent !important;
}

.modal-open .modal,
.modal-backdrop {
  top: 56px !important;
}